.library {
    .library-wrapper {
        padding: 5px 15px 90px;

        .chips {
            position: sticky;
            top: 70px;
            z-index: 3;
            background-color: #010A19;
            padding: 10px 0 20px;
        }

        .contents {
            .cards {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .wrapper-item {
                    width: 20%;

                    .item {
                        padding-right: 20px;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}