.recent-listen {
    .recent-listen-wrapper {
        padding: 5px 15px 90px;

        .title {
            font-weight: 600;
            margin-bottom: 8px;
            color: #EFFE62;
        }

        section {
            .section-title {
                font-weight: 600;
                padding: 24px 0 8px;
                color: #cccccc;
            }

            .cards {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 16px;

                .wrapper-item {
                    width: 20%;

                    .item {
                        padding-right: 20px;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}